<ion-header>
  <ion-toolbar>
  </ion-toolbar>

  
  <ion-back-button defaultHref="inicio"></ion-back-button>


 <ion-button routerLink='/alert'>
    Alert
  </ion-button>
  
  <ion-button routerLink='/action-sheet'>
    Action
  </ion-button>
  

</ion-header>

  



